export OS_AUTH_URL=batcave
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=batman
export OS_PROJECT_DOMAIN_NAME=robin
export OS_USERNAME=joker
export OS_USER_DOMAIN_NAME=gotham
export OS_PASSWORD=superman
export OS_AUTH_URL=http://controller:35357/v2/
export OS_IDENTITY_API_VERSION=3
export OS_PROJECT_NAME=myproject
export OS_PROJECT_DOMAIN_NAME=default
export OS_USERNAME=admin
export OS_USER_DOMAIN_NAME=default
export OS_PASSWORD=alta3
